.App {
  text-align: center;
}

.main{
  background-image: url("https://img.freepik.com/free-vector/bons-foot-prints-pattern-background_1374-18.jpg?size=338&ext=jpg");
  min-height: 100px;
  min-width: 1024px;
}

.card-img-top {
  width: 250px;
  height: 300px;
}

body {
  background-color: rgb(52, 211, 230);
}

.aboutMain{
  background-image: url("https://img.freepik.com/free-vector/bons-foot-prints-pattern-background_1374-18.jpg?size=338&ext=jpg");
  min-height: 100%;
  min-width: 1024px;
}

.aboutDes{
  background-color: slategrey;
  color: white
}

.title{
  background-color: lightblue;
  border-radius: 15px;
  padding: 3px;
}